.google-preview {
	background-color: #fff;
	border-radius: $border-radius;
	padding: 2rem;
	box-shadow: $box-shadow-sm;
    .meta-title {

        display: inline-block;
        line-height: 1.3;
        margin-bottom: 3px;
        font-size: 20px;
        padding-top: 5px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        color: #1a0dab;
    }

    .meta-desc {
    	margin-bottom: 0;
        max-width: 48em;
        color: #4d5156;
        line-height: 1.58;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 14px;
    }

    .meta-link {

        font-size: 14px;
        line-height: 1.3;
        color: #202124;
        font-style: normal;
        padding-top: 1px;
    }
}