// Bootstrap functions
@import 'bootstrap/scss/functions';
 
// Theme variables
@import 'variables';

// Theme utilities
@import "utilities-api";

// Bootstrap core
@import 'bootstrap/scss/bootstrap';

// Theme utilities
@import 'utilities/utilities';

// Theme components
@import 'components/components';

// Theme vendor
@import 'vendor/vendor';