.category-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        background-color: var(--#{$variable-prefix}gray-200);
        padding: .75rem 1.5rem;
        border-radius: 100px;
        font-weight: normal;
        color: var(--#{$variable-prefix}gray-700);
        font-size: $font-size-sm;
        margin: 0 .35rem;
        display: block;
        white-space: nowrap;

        &.active,
        &:hover {
            background-color: var(--theme-color);
            color: #fff;
        }
    }
}

@include media-breakpoint-down(md) {
    .category-btn {
        overflow: auto;
        justify-content: flex-start;
    }
}

.layout-filter {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;

    .filter-nav {
        display: flex;
        align-items: center;
        margin-left: -.5rem;

        a {
            font-size: $font-size-lg;
            font-weight: 500;
            position: relative;
            color: $gray-600;
            padding: .35rem .5rem;

            &:hover,
            &.active {
                color: #fff;

            }
        }
    }

    .dropdown-value {
        font-size: $font-size-sm;
        color: $gray-600;


    }

    .dropdown-toggle[aria-expanded="true"] .dropdown-value {
        color: #fff;
    }

    .dropdown-toggle {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;

        &.selected {
            .dropdown-value {
                color: #fff;

                span {
                    margin-left: .25rem;
                }
            }
        }
    }

    .dropdown-btn {
        position: relative;
        width: 16px;
        height: 16px;
        display: block;
        margin-top: 2px;
        margin-left: 15px;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 16px;
            height: 2px;
            background-color: $text-muted;
            left: 0;
            top: 50%;
            -webkit-transition: 0.2s ease;
            -moz-transition: 0.2s ease;
            transition: 0.2s ease;
            margin-top: -5px;
        }

        &:after {
            margin-top: 2px;
            width: 10px;
        }

    }

    .dropdown-toggle[aria-expanded="true"] .dropdown-btn:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -2px;
        background-color: #fff;
    }

    .dropdown-toggle[aria-expanded="true"] .dropdown-btn:after {
        margin-top: -2px;
        width: 16px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-color: #fff;
    }

    .dropdown-menu {
        left: -2rem !important;
        margin-top: .75rem !important;
    }
}

@include media-breakpoint-down(md) {
    .layout-filter {
        align-items: flex-start !important;
        flex-direction: column;

        >form {
            align-items: flex-start !important;
            flex-direction: column;
                padding: .5rem 0 !important;
                flex: 0 0 auto !important;
                width: 100%;

            > * {
                padding: .25rem 0;
                flex: 0 0 auto;
                width: 100%;
            }

            .dropdown-toggle {
                flex: 0 0 auto;
                width: 100%;

                .dropdown-btn {
                    margin-left: auto;
                }
            }
            .dropdown-menu {
                position: static !important;
                transform: none !important;
                width: 100% !important;
                background-color: transparent;
                padding: 1rem 0 !important;
                margin-top: 0 !important;
            }
        }
    }
}
