.h-1x {

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.h-2x {

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

b,
strong {
    font-weight: $font-weight-bold;
}

.text-editor {
    img {
        border-radius: $border-radius;
        max-width: 100%;
        height: auto;
    }

    ul {

        padding-left: 1rem;
    }

    h1 {
        font-size: 18px !important;
        font-weight: 600 !important;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 18px !important;
        font-weight: 600 !important;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 18px !important;
        font-weight: 600 !important;
        margin-bottom: 1rem;
    }

    a {
        color: $gray-800;
        text-decoration: none;
        cursor: pointer;

        &:focus,
        &:hover {
            color: $primary;
            text-decoration: none
        }
    }
}

.text-premium {
    
  background: linear-gradient(to right, #ffa500,#f00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.morecontent span {
    display: none;
}
.more {
    display: inline-block;
    cursor: pointer;
    margin-left: .75rem;
    color: var(--theme-color);
}